<!-- Extender do templates base -->
{% extends 'Base.html' %}

<!-- Bloco que define o title da pagina -->
{% block title %}Sistema gerenciador de idosos{% endblock %}

<!-- Bloco de conteudo da pagina -->
{% block conteudo %}
	<h3>cadasatrar idosos!</h3>
	<p>cadastre aqui novo funcionario</p>
	<p><a href="{% url 'cadastra_funcionario' %}">Novo funcionario</a></p>
	
	<h3>listar funcionarios!</h3>
	<p>Veja aqui a lista de funcionarios cadastrados.</p>
	<p><a href="{% url 'lista_funcionarios' %}">Vá para lista</a></p>
	
{%endblock%}