<!-- Extender do template base -->
{% extends "base.html" %}

<!-- Bloco que define o title da página -->
{% block title %}Sistema Gerenciador de Funcionário{% endblock %}

<!-- Bloco de conteúdo da página -->
{% block conteudo %}
	<h4>Usuario</h4>
	
	<form method="post">
	<!-- Não esqueça deste comando -->
	{% csrf_token %}
	<label>Nome:</label>
	{{ form.nome_Paciente }}
	<br>
	
	<label>Sobrenome:</label>
	{{ form.sobrenome }}
	<br>
	
	<label>CPF:</label>
	{{ form.cpf }}
	<br>
	
	<label>Celular:</label>
	{{ form.celular }}
	<br>
	
	<label>Telefone Fixo:</label>
	{{ form.telefone_fixo }}
	<br>
	
	<label>Email:</label>
	{{ form.email }}
	<br>
	
	<label>Data de Nascimento:</label>
	{{ form.data_nascimento }}
	<br>
	
	<button>CADASTRAR</button>
	</form>
	
	
	
{% endblock %}