<!-- Extender do templates base -->
{% extends 'base.html' %}

<!-- Bloco que define o title da pagina -->
{% block title %}Cadastro de usuario{% endblock %}

<!-- Bloco de conteudo da pagina -->
{% block conteudo %}

	<form method="post">
	<!-- Não esqueça deste comando -->
	{% csrf_token %}
	<label>Nome:</label>
	{{ form.nome }}
	<br>
	
	<label>Sobrenome:</label>
	{{ form.sobrenome }}
	<br>
	
	<label>CPF:</label>
	{{ form.cpf }}
	<br>
	
	<label>Celular:</label>
	{{ form.celular }}
	<br>
	
	<button>CADASTRAR</button>
	</form>
	<p><a href="{% url 'index' %}">cancelar</a></p>
{%endblock%}